# ======================
# Node.js / TypeScript
# ======================
node_modules/
dist/
build/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/migrations/

# Logs
logs
*.log
*.out
*.pid

# Coverage
coverage/
*.lcov

# ======================
# Angular / Frontend
# ======================
/front/dist/
/front/.angular/cache/
/front/.angular/*
/front/node_modules/

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
