<div class="login-container">

  <h2>Iniciar sesión</h2>

  <div class="login-box">
    <label>Email:</label>
    <input type="email" placeholder="Email" [(ngModel)]="email">

    <label>Contraseña:</label>
    <input type="password" placeholder="Contraseña" [(ngModel)]="contrasenia">

    <button (click)="loguearse()">Iniciar Sesion</button>
  </div>

  <p class="cuenta">
    No tenes una cuenta existente?
    <a [routerLink]="['/login/signup']">Registrate</a>
  </p>

  @if(error){
    <p class="error">{{ error }}</p>
  }

</div>
