<form [formGroup]="form" (ngSubmit)="signUp()">

  <h2>Crear Cuenta</h2>

  <div class="form-box">
    <label>Nombre: </label>
    <input type="text" placeholder="Nombre" formControlName="nombre">

    <label>Apellido: </label>
    <input type="text" placeholder="Apellido" formControlName="apellido">

    <label>Dirección: </label>
    <input type="text" placeholder="Dirección" formControlName="direccion">

    <label>Email: </label>
    <input type="email" placeholder="Email" formControlName="email">

    <label>Contraseña: </label>
    <input type="password" placeholder="Contraseña" formControlName="contrasenia">

    <button type="submit">Registrarse</button>

    @if(error) {
      <p style="color:red">{{ error }}</p>
    } @else {
      <p style="color:green">{{ exito }}</p>
    }
  </div>

  <p>Ya tenes una cuenta existente?
    <a [routerLink]="['/login']">Iniciar sesión</a>
  </p>
</form>
