<p-toast position="top-right"></p-toast>
<div class="home-container">
  <div class="card-header">
    <a href="/carrito"><p-button icon="pi pi-shopping-cart" severity="success" label="Ver carrito"/></a>
  </div>
  <h1>Catálogo de Juegos</h1>

  @if (cargando) {
    <div class="loading">Cargando juegos...</div>
  }

  @if(error) {
    <div class="error">{{ error }}</div>
  }

  <p-carousel [value]="juegos" [numVisible]="5" [numScroll]="5" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="true">
    <ng-template #item let-juego>
      <div class="card" (click)="verJuego(juego.id)">

        <div class="card-image-container">
          <img [src]="juego.imagen_url" [alt]="juego.nombre" class="card-image"/>
        </div>
        <div class="card-content">
          <h2>{{ juego.nombre }}</h2>
          <p><strong>Año:</strong> {{ juego.anio }}</p>
          <!-- <p><strong>Desarrollador:</strong> {{ juego.desarrollador }}</p> -->
          <p><strong>Categoria:</strong> {{ juego.categoria }}</p>
          <p><strong>Precio:</strong> {{ juego.precio }}</p>
          <!-- <p>{{ juego.descripcion }}</p> -->
        </div>
        <div class="card-actions">
          @if(usuario && usuario.rol?.toLowerCase() === 'admin'){
          <p-button icon="pi pi-pencil" severity="warn" (onClick)="editarJuego(juego.id)"/>
          <p-button icon="pi pi-trash" severity="danger" (onClick)="eliminarJuego(juego.id)"/>
          }
          <p-button icon="pi pi-shopping-cart" severity="success" (onClick)="agregarAlCarrito(juego.id); $event.stopPropagation();"/>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
