<div class="home-container">
  <h1>Catálogo de Juegos</h1>

  @if (cargando) {
    <div class="loading">Cargando juegos...</div>
  }

  @if(error) {
    <div class="error">{{ error }}</div>
  }

  <div class="grid">
    @for(juego of juegos; track juego.id){
      <div class="card">
        <h2>{{ juego.nombre }}</h2>
        <p><strong>Año:</strong> {{ juego.anio }}</p>
        <p><strong>Desarrollador:</strong> {{ juego.desarrollador }}</p>
        <p><strong>Precio:</strong> {{ juego.precio }}</p>
        <p>{{ juego.descripcion }}</p>
        <div class="card-actions">
          <p-button icon="pi pi-pencil" severity="warn" (onClick)="editarJuego(juego.id)"/>
          <p-button icon="pi pi-trash" severity="danger" (onClick)="eliminarJuego(juego.id)"/>
          <p-button icon="pi pi-shopping-cart" severity="success" (onClick)="agregarAlCarrito(juego.id)"/>
        </div>
      </div>
    }

  </div>
</div>
